<div class="mat-elevation-z8">
    <h3>Campaigns</h3>
    <!-- Search Box -->
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search by Name or Email" />
    </mat-form-field>
  
    <!-- Create Button at the top -->
    <button mat-raised-button color="warn" class="create-button" *ngIf="canCreateUserForTemp()"  (click)="openCreateUserDialog()">Create</button>
    <button mat-raised-button class="download-btn" (click)="openDownloadDialog()" ><mat-icon>file_download</mat-icon></button>

    <!-- Table -->
    <table mat-table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <span class="campaign-link" (click)="openCampaignDetailsDialog(element)">
            {{ element.name }}
          </span>
        </td>
      </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="template">
        <th mat-header-cell *matHeaderCellDef> Template </th>
        <td mat-cell *matCellDef="let element"> {{element.template}} </td>
      </ng-container>
     
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Action Column (Create and Edit Buttons) -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="edit-icon" *ngIf="canCreateUserForTemp()" (click)="openEditUserDialog(element)" matTooltip="edit" matTooltipPosition="above" matTooltipShowDelay="500">edit</mat-icon>
          <mat-icon class="delete-icon"*ngIf="canDeleteUser()"  (click)="deleteRecord(element)" matTooltip="delete" matTooltipPosition="above" matTooltipShowDelay="500">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Header and Row definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- Pagination Controls -->
    <mat-paginator [length]="dataSource.data.length"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20,30]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
  