<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" name="username" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" name="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="status" name="status">
        <mat-option value="Active">Active</mat-option>
        <mat-option value="Inactive">Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="right-button"(click)="onNoClick()">Cancel</button>
  <button mat-button class="right-button"(click)="onSubmit()">Submit</button>
</mat-dialog-actions>
