mat-form-field {
    width: 100%;
  }
  
  quill-editor {
    height: 300px; /* Adjust height as needed */
  }
  /* edit-template-dialog.component.css */
angular-editor {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  .right-button {
    background-color: #cc0000; /* Red background */
    color: white; /* Black text */
  }
  
  .right-button:hover {
    background-color: darkred; /* Darker shade when hovering */
    color: white; /* White text on hover */
  }

  ::ng-deep .mat-dialog-container {
    width: 90%; /* Set to 90% of the screen width or a custom value */
    max-width: 1000px; /* Max width of the dialog */
    height: auto; /* Let the height adjust automatically */
    max-height: 80vh; /* Max height to ensure it doesn't take up too much vertical space */
    padding: 20px; /* Add some padding for a more spacious look */
    box-sizing: border-box; /* Ensure padding doesn't affect the total width */
  }
  #editor {
    height: 300px; /* Adjust this based on your needs */
  }
  .cdk-overlay-pane mat-mdc-dialog-panel{
    width: 609px;
    position: static;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  