<h8 mat-dialog-title>
    Memo - 
    <font color="#cc0000">To Store Compliance New Hire Welcome</font>
  </h8>
  
  <mat-dialog-content>

    <div class="fixed-button-group">
      <button mat-button (click)="exportToWord()" class="export-btn">Export to Word</button>

      <button mat-icon-button (click)="toggleHTMLMode()" class="right-button1" >
        <mat-icon>{{ htmlMode ? 'edit'  : 'code'}}</mat-icon> <!-- Change icon based on htmlMode -->
      </button>
      <button (click)="openEmailDialog()"  class="send-email-btn">
        <mat-icon>email</mat-icon>  <!-- You can use an Angular Material icon here -->
      </button>
      <button mat-icon-button (click)="insertHorizontalRule()" matTooltip="Insert Horizontal Line">
        <mat-icon>horizontal_rule</mat-icon>
      </button>
      <button mat-icon-button (click)="insertTable()" id="insert-table-button" matTooltip="Insert Table">
        <mat-icon>grid_on</mat-icon>
      </button>
    </div>
    <!-- Quill Editor Container -->
    <div class="dropdown-container">
      <!-- Dropdown for Predefined Text Snippets -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Dynamic Merge Tags</mat-label>
        <mat-select [(value)]="selectedText" (selectionChange)="onSnippetSelect($event)">
            <mat-option *ngFor="let snippet of textSnippets" [value]="snippet" matTooltip="{{'<employeeList1>'}}" matTooltipPosition="above">
                {{ snippet }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Drag-and-drop text container that updates based on selected snippet -->
    <div *ngIf="selectedText" class="draggable-text" 
         [draggable]="true" (dragstart)="onDragStart($event, selectedText)">
        {{ selectedText }}
    </div>
  </div>
    <div #editorContainer id="editor" 
    style="height: 700px; width: 100%;" 
    (drop)="onDrop($event)" 
    (dragover)="onDragOver($event)">
</div> 

</mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button class="right-button" (click)="cancel()">Cancel</button>
    <button mat-button class="right-button" color="primary" (click)="saveChanges()">Save</button>
  </mat-dialog-actions>
  