<h3>Exclusions </h3>

<div class="dropdown-container">

    <!-- Dropdown 1 -->
    <mat-form-field appearance="fill">
      <mat-label>Leader</mat-label>
      <mat-select [(value)]="selectedOption1">
        <mat-option *ngFor="let option of dropdown1Options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Dropdown 2 -->
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <mat-select [(value)]="selectedOption2">
        <mat-option *ngFor="let option of dropdown2Options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Dropdown 3 -->
    <mat-form-field appearance="fill">
      <mat-label>Employee</mat-label>
      <mat-select [(value)]="selectedOption3">
        <mat-option *ngFor="let option of dropdown3Options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <!-- New Text Box -->
  <mat-form-field appearance="fill">
    <mat-label>Days</mat-label>
    <input matInput [(ngModel)]="textBoxValue" placeholder="Enter value">
  </mat-form-field>
  
  <!-- Action Buttons -->
  <div class="button-container">
    <button mat-icon-button color="primary" class="create-button"(click)="onAdd()">Add</button>
    <button mat-icon-button color="accent"  class="create-button"(click)="onEdit()">Edit</button>
    <button mat-icon-button color="warn"  class="create-button"(click)="onDelete()">Delete</button>
  </div>
  