<h8 mat-dialog-title>
    Helper Text Snippet  - 
    <font color="#cc0000">access LearingHubSDCText</font>
  </h8>
  
  <mat-dialog-content>
    <!-- Quill Editor Container -->
    <div class="button-group-fixed">
      <button mat-icon-button (click)="toggleHTMLMode()" class="right-button1" >
        <mat-icon>{{ htmlMode ? 'edit'  : 'code'}}</mat-icon> <!-- Change icon based on htmlMode -->
      </button>
      <button (click)="openEmailDialog()" class="send-email-btn">
        <mat-icon>email</mat-icon>  <!-- You can use an Angular Material icon here -->
      </button>
      <button mat-icon-button (click)="insertHorizontalRule()" matTooltip="Insert Horizontal Line">
        <mat-icon>horizontal_rule</mat-icon>
      </button>
      <button mat-icon-button (click)="insertTable()" id="insert-table-button" matTooltip="Insert Table">
        <mat-icon>grid_on</mat-icon>
      </button>
      
    </div>
    <div class="dropdown-container">
    <!-- Dropdown for Predefined Text Snippets -->
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Dynamic Merge Tags</mat-label>
        <mat-select [(value)]="selectedText" (selectionChange)="onSnippetSelect($event)">
            <mat-option *ngFor="let snippet of textSnippets" [value]="snippet.tag" [matTooltip]="snippet.description"   matTooltipClass="dynamic-tooltip"
            aria-label="Button with dynamic tooltip">
                {{ snippet.tag }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Drag-and-drop text container that updates based on selected snippet -->
    <div
      *ngIf="selectedText"
      class="draggable-text"
      [draggable]="true"
      (dragstart)="onDragStart($event, selectedText)"
    >
      {{ selectedText }}
    </div>
  </div>
   <div (drop)="onDrop($event)" (dragover)="onDragOver($event)">
    <!-- HTML Mode: Show textarea -->
    <textarea
      *ngIf="htmlMode"
      [(ngModel)]="htmlContent"
      style="
        width: 100%;
        height: 700px;
        background-color: black;
        color: white;
        border: none;
        resize: none;
      "
    ></textarea>

    <!-- Quill Editor Mode -->
    <quill-editor
      *ngIf="!htmlMode"
      (onEditorCreated)="EditorCreated($event)"
        (onContentChanged)="onContentChanged($event)"

      (input)="createCode()"
      [formControl]="contentCtrl"
      [modules]="modules"
      [theme]="'snow'"
       style="width: 100%; max-width: 1250px;" 
    >
    </quill-editor>
  </div>  



</mat-dialog-content>
  
  <mat-dialog-actions>
   
    <button mat-button class="right-button" (click)="cancel()">Cancel</button>
    <button mat-button class="right-button" color="primary" (click)="saveChanges()">Save</button>
  </mat-dialog-actions>
  