<div class="dashboard-container">
  
  
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title [ngClass]="{ 'status-green': allCompleted, 'status-red': !allCompleted }">Compliance Processes Status For:
      </mat-card-title>
      <p class="today-date" [ngClass]="{ 'status-green': allCompleted, 'status-red': !allCompleted }"> {{ today | date:'fullDate' }}</p>
  
    </mat-card-header>
    <mat-card-content>
      <p class="overview-text">
        When automated,the Compliance Notification Process Runs on the quarter hour AFTER a time period of 2 hours and 15 minutes has passed
        since the Nightly Load process has completed. This delay is required due to database maintenance task occuring after the nightly load has
        completed.
       </p>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="campaign">
          <th mat-header-cell *matHeaderCellDef> Process </th>
          <td mat-cell *matCellDef="let element"> <div class="status-container">
            <mat-icon [ngClass]="{
           'status-green': element.status === 'Completed',
           'status-yellow': element.status === 'InProgress',
           'status-red': element.status !== 'Completed' && element.status !== 'InProgress'
         }">
           {{ getStatusIcon(element.status) }}
         </mat-icon>
       {{element.campaign}} </div></td>
        </ng-container>
  
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Today's Status </th>
          <td mat-cell *matCellDef="let element">
            {{element.status}} 

        </td>
        </ng-container>
  
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef> Last Status Date </th>
          <td mat-cell *matCellDef="let element"> {{element.progress}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'status-green': row.status === 'Completed', 'status-red': row.status !== 'Completed' }"></tr>
      </table>
  
    </mat-card-content>
  </mat-card>

  <!-- <div class="dashboard-row">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>User Compliance Status</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas #completionRateCanvas></canvas> 
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>User Compliance Status</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas #userComplianceCanvas></canvas> 
      </mat-card-content>
    </mat-card>
  </div> -->
</div>